
.borders {
   
}
.boxRobot{
    background-color: #002ba0;
    display: flex;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 70px;
    margin-left: 20px;
}
#talkUs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    margin-top: 9;

}
#robotStart{
    background-color: #d9e9fd;
    display: flex;
    height: 300px;
    width: 1150px;
    border-radius: 15px;

}
#robotImg{
    width: 200px;
    height: 250px;

}
.titleStart{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002ba0; 
}
