body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.borders {
    background-color: #d9e9fd;   
    width: 500px;
    height: 100px;
}

.text {
    display: flex;
}

#list {
    background-color: white;
    width: 400px;
}