/*General*/

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.borderOrganization {
        background-color: #d9e9fd;
        border-radius: 15px;
        margin-left: 15px;
}

/* Part1 */

#robotImg{
    width: 200px;
    height: 250px;
    margin-top: 10px;
}
.boxRobot{
    background-color: #002ba0;
    display: flex;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
.arrowHelp{
    background-color: white;
    padding: 10px;
    width: 35px;
    height: 41px;
    border-radius: 50%;
    margin-left: 186px;
    margin-top: -60px;
}
#talkUs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    margin-top: 7px;
    margin-left: 10px;
}
#robotStart{
    height: 300px;
    width: 900px;
    display: flex;
}

/* Part2 */

#recentOrders {
    height: 300px;
    width: 600px;
}
.titleStart{
    color: #002ba0;
    margin-left: 15px;
}
.text {
    display: flex;
}
#list {
    background-color: white;
    width: 400px;
}
#setaImg{
    width: 30px;
    height: 30px;
    margin-left: 200px;
    margin-top: -44px;
    color: #002ba0;
}
.boxHelp{
    background-color: #002ba0;
    display: flex;
    height: 12px;
    width: 300px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 80px;
    margin-left: -350px;
}
.boxHelp1{
    background-color: #002ba0;
    display: flex;
    height: 12px;
    width: 300px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 10px;
    margin-left: -350px;
}
.boxHelp2{
    background-color: #002ba0;
    display: flex;
    height: 12px;
    width: 300px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 10px;
    margin-left: -350px;
}
.boxHelp3{
    background-color: #002ba0;
    display: flex;
    height: 12px;
    width: 300px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 10px;
    margin-left: -350px;
}
.boxHelp4{
    background-color: #002ba0;
    display: flex;
    height: 12px;
    width: 300px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 10px;
    margin-left: -350px;
}
.helpMenu{
    color: white;
    margin-top: 100px
}