
body {
    display: flex;
}
.boxRobot{
    background-color: #002ba0;
    display: flex;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
}
.arrowHelp{
    background-color: white;
    padding: 10px;
    width: 35px;
    height: 41px;
    border-radius: 50%;
    margin-left: 186px;
    margin-top: -60px;
}
#talkUs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    margin-top: 7px;
    margin-left: 10px;

}
.borderOrganization {
        background-color: #d9e9fd;
        display: flex;
        border-radius: 15px;
        margin-left: 15px;
}
#robotStart{
    height: 300px;
    width: 900px;
}

#recentOrders {
    height: 300px;
    width: 1000px;
}

#robotImg{
    width: 200px;
    height: 250px;
    margin-top: 10px;
}
.titleStart{
    color: #002ba0; 
    margin-left: 15px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.borders {
    background-color: #d9e9fd;   
    width: 500px;
    height: 100px;

}

.text {
    display: flex;
}

#list {
    background-color: white;
    width: 400px;
}
#setaImg{
    width: 30px;
    height: 30px;
    margin-left: 200px;
    margin-top: -44px;
    color: #002ba0;
}