
body {
    display: flex;
}
#recentOrders {
    margin-left: 500px;
}
.boxRobot{
    background-color: #002ba0;
    display: flex;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    padding: 10px;
    margin-top: 70px;
    margin-left: 20px;
}
.arrowHelp{
    background-color: white;
    padding: 10px;
    width: 35px;
    height: 41px;
    border-radius: 50%;
    margin-left: 186px;
    margin-top: -60px;
}
#talkUs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    margin-top: 7;

}
.borderOrganization {
        background-color: #d9e9fd;
        border-radius: 15px;
}
#robotStart{
    height: 300px;
    width: 950px;
    display: flex;
}

#robotImg{
    width: 200px;
    height: 250px;

}
.titleStart{
    color: #002ba0; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.borders {
    background-color: #d9e9fd;   
    width: 500px;
    height: 100px;
}

.text {
    display: flex;
}

#list {
    background-color: white;
    width: 400px;
}
